*{
    outline: 1px solid red;
}

@font-face{
  font-family: 'ThuPhap';
  src: url('../font/ThuPhap.otf') format('opentype');
}
body {
    margin:0;
}
.container{
    max-width:1340px;
    margin: 0 auto;
    overflow-x: hidden;
}
.cover{
    background-image: url('../images/bia1.jpg');
    min-height: 100vh;
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items:center;
}
.book-name{
    font-family: 'ThuPhap';
    font-size: 55px;
    font-weight: bolder;
    transform: translateY(-10px);
    color: rgba(235, 204, 0, 0.901);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    opacity:0;
    animation: fadeIn 2.5s ease forwards;
    animation-delay: 1s; 
}
@keyframes fadeIn{
  to{
    opacity: 1;
  }
}
